
.logo{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

}
.NavBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ffffff;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

}

.NavBar li {
    float: left; 
}

.NavBar li a {
    font-size: 28px;
    
}

.NavBar li a:hover {
    background-color: #182b49; 
    color: white; 
}


.s1, .s2 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.s1 {
    background-color:rgb(245, 240, 230);
  }

.s2 {
    background-image: url("bg-orbs-1.jpg");
    color: white;
}

.s3 {
    background-color:rgb(245, 240, 230);
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 20px;
}

.one {
    overflow-y: scroll;
    grid-column: 1;
    grid-row: 2/5;
    background-color:#182b49;
    color: white;
    padding: 20px;
    max-height: 500px;
  }
.two {
    overflow-y: scroll;
    grid-column: 2;
    grid-row: 2/5;
    background-color:#182b49;
    color: white;
    padding: 20px;
    max-height: 500px;
  }
.three {
    overflow-y: scroll;
    grid-column: 3;
    grid-row: 2/5;
    background-color:#182b49;
    color: white;
    padding: 20px;
    max-height: 500px;
}
.four {
    overflow-y: scroll;
    grid-column: 4;
    grid-row: 2/5;
    background-color:#182b49;
    color: white;
    padding: 20px;
    max-height: 500px;
  }

.s1 img,
.s2 img,
.s3 img {
      max-width: 100%;
      height: auto;
  }


  @media screen and (max-width: 800px) {
    .container {
        margin: 1em 2em;
      }
     .NavBar {
        display: none;
    }
    .s1 img {
        max-width: 75%;
        height: auto;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
    .grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr); 
     gap: 25px;
     grid-auto-rows: minmax(100px, auto);
    }

    .one {
        overflow-y: scroll;
        grid-column: 1;
        grid-row: 1;
        background-color:#182b49;
        color: white;
        padding: 20px;
        max-height: 500px;
      }
    .two {
        overflow-y: scroll;
        grid-column: 2;
        grid-row: 1;
        background-color:#182b49;
        color: white;
        padding: 20px;
        max-height: 500px;
      }
    .three {
        overflow-y: scroll;
        grid-column: 1;
        grid-row: 2;
        background-color:#182b49;
        color: white;
        padding: 20px;
        max-height: 500px;
    }
    .four {
        overflow-y: scroll;
        grid-column: 2;
        grid-row: 2;
        background-color:#182b49;
        color: white;
        padding: 20px;
        max-height: 500px;
      }


}
  