.NavBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ffffff;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

}

.NavBar li {
    float: left; 
}

.NavBar li a {
    font-size: 28px;
    
}

.NavBar li a:hover {
    background-color: #182b49; 
    color: white; 
}


.s1, .s2 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.s1 {
    background-color:rgb(245, 240, 230);
  }

.s2 {
    background-image: url("bg-orbs-1.jpg");
    color: white;
}

.s3 {
    background-color:rgb(245, 240, 230);
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 20px;
}

.one {
    overflow-y: scroll;
    grid-column: 1;
    grid-row: 2/5;
    background-color:#182b49;
    color: white;
    padding: 20px;
    max-height: 500px;
  }
.two {
    overflow-y: scroll;
    grid-column: 2;
    grid-row: 2/5;
    background-color:#182b49;
    color: white;
    padding: 20px;
    max-height: 500px;
  }
.three {
    overflow-y: scroll;
    grid-column: 3;
    grid-row: 2/5;
    background-color:#182b49;
    color: white;
    padding: 20px;
    max-height: 500px;
}
.four {
    overflow-y: scroll;
    grid-column: 4;
    grid-row: 2/5;
    background-color:#182b49;
    color: white;
    padding: 20px;
    max-height: 500px;
  }